<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bokeh Effect Generator</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Bokeh Effect Generator</h1>
    <input type="file" id="imageUpload" accept="image/*">
    <div id="loadingIndicator" style="display: none;">Processing...</div>
    <div id="imgContainer" style="display: none;">
        <h2>Processed Image</h2>
        <p>Click on the processed image to refocus:</p>
        <img id="processedImage" alt="Processed Image" style="max-width: 100%; max-height: 500px;">
        <div>
            <label for="blurStrength">Blur Strength:</label>
            <div>
                <input type="range" id="blurStrength" min="1" max="6" step="0.1" value="3">
                <input type="number" id="blurStrengthValue" min="1" max="6" step="0.1" value="3">
            </div>
            <label for="depthOfField">Depth of Field:</label>
            <div>
                <input type="range" id="depthOfField" min="0.01" max="0.5" step="0.01" value="0.1">
                <input type="number" id="depthOfFieldValue" min="0.01" max="0.5" step="0.01" value="0.1">
            </div>
        </div>
        <details>
            <summary>Debug Data</summary>
            <div id="depthMapContainer">
                <h2>Depth Map</h2>
                <p>Click on the depth map to set the focus depth:</p>
                <img id="depthMap">
            </div>
        </details>
    </div>

    <script>
        const imageUpload = document.getElementById('imageUpload');
        const depthMap = document.getElementById('depthMap');
        const depthMapContainer = document.getElementById('depthMapContainer');
        const processedImage = document.getElementById('processedImage');
        const loadingIndicator = document.getElementById('loadingIndicator');
        const blurStrength = document.getElementById('blurStrength');
        const blurStrengthValue = document.getElementById('blurStrengthValue');
        const depthOfField = document.getElementById('depthOfField');
        const depthOfFieldValue = document.getElementById('depthOfFieldValue');

        let debounceTimeout;

        async function processImage(x, y, multiplier) {
            try {
                loadingIndicator.style.display = 'block';
                const response = await axios.post('/process', {
                    x: x,
                    y: y,
                    multiplier: multiplier,
                    depthOfField: depthOfField.value
                });
                const timestamp = new Date().getTime();
                processedImage.src = `${response.data.processed_image_url}?t=${timestamp}`;
            } catch (error) {
                console.error('Error processing image:', error);
                alert('Error processing image. Please try again.');
            } finally {
                loadingIndicator.style.display = 'none';
            }
        }

        imageUpload.addEventListener('change', async (event) => {

            const file = event.target.files[0];
            const formData = new FormData();
            formData.append('image', file);

            try {
                loadingIndicator.style.display = 'block';
                const response = await axios.post('/upload', formData, {
                    headers: { 'Content-Type': 'multipart/form-data' }
                });
                depthMap.src = response.data.depth_map_url;
                processedImage.src = URL.createObjectURL(file);
                // processedImage.style.display = 'block';
                imgContainer.style.display = 'block';
            } catch (error) {
                console.error('Error uploading image:', error);
            } finally {
                loadingIndicator.style.display = 'none';
            }
        });

        depthMap.addEventListener('click', (event) => {
            const rect = event.target.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;
            processImage(x / depthMap.width, y / depthMap.height, blurStrength.value);
        });

        processedImage.addEventListener('click', (event) => {
            const rect = event.target.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;
            processImage(x / processedImage.width, y / processedImage.height, blurStrength.value);
        });

        blurStrength.addEventListener('input', (event) => {
            blurStrengthValue.value = event.target.value;
        });

        blurStrengthValue.addEventListener('input', (event) => {
            blurStrength.value = event.target.value;
        });

        depthOfField.addEventListener('input', (event) => {
            depthOfFieldValue.value = event.target.value;
        });

        depthOfFieldValue.addEventListener('input', (event) => {
            depthOfField.value = event.target.value;
        });
    </script>
</body>

</html>